@import-normalize;

@font-face {
    font-family: "JetBrainsMono-Variable";
    src: local("JetBrainsMono-Variable"), url(./assets/JetBrainsMono-Variable.ttf) format('opentype');
  }
  
body{
    background-color: #131023;
}

.main{
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: 100%;
    /* border: solid 2pt #B2519E */
}

h1{
    font-family: "JetBrainsMono-Variable";
    color: #B2519E;
    font-style: normal;
    font-weight: 710;
    font-size: 72px;
    line-height: 110%;
}

p{
    font-family: "JetBrainsMono-Variable";
    color: #B2519E
}


.svgDiv{
    display: grid;
    justify-content: center;
    z-index: 1;
}

.infoGraphic{
    border-top: solid 2pt #B2519E;
}

.graphicsContainer{
    display: grid;
    justify-content: center; 
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 450px));
}

.graphicsContainer > * {
    display: grid;
    text-align: left;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.graphicsContainer > * img {
    width: 100%;
    max-height: 289px;
    padding-bottom: 1rem;
}